.login {
  height:fit-content;
  width: 45vw;
  text-align: center;
  border: 5px solid #ff6b14;
  border-radius: 20px;
  background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
  padding: 2vh;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.6);
  margin: auto;
}

.title {
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
}

.password {
  text-align: center;
  margin-top: 2vh;
  font-family: 'Patrick Hand', cursive;
  font-size: 1rem;
  width: 50%;
  background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
  outline: none;
  border-radius: 10px;
  color: #c1c1c1 
}

.userName {
  border-radius: 10px;
  text-align: center;
  font-family: 'Patrick Hand', cursive;
  font-size: 1rem;
  width: 50%;
  background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
  outline: none;
  color: #c1c1c1 
}

button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 10px #c1c1c1;
  outline: none;
}

.loginButton {
  background: radial-gradient(rgba(243, 242, 242, 0.3));
  box-shadow: inset 0px 0px 10px #504b4b;
  height: 8vh;
  width: 10vw;
  border-radius: 10px;
  font-weight: bolder;
  font-family: 'Patrick Hand', cursive;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 5vh;
}

.loginButton:hover{
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 10px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.smallTitle {
  color: #fff;
  margin-bottom: 2vh;
  margin-top: 6vh;
}

.errorMessage {
  color: red;
}

.signUp {
  color: #f9a16e;
  font-weight: 900;
  cursor: pointer;
  text-decoration: underline;
  transition: font-size 0.3s ease;
}

.signUp:hover,
.signUp:focus {
  text-decoration: none;
  font-size: 1.5em;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 380px) {
  .login {
    margin: auto;
    height: auto;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
  }

  .inputsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20%;
  }

  .userName,
  .password {
    text-align: center;
    width: 55vw;
    height: 4vh;
    margin: 1.5vh;
    font-size: 1.6rem;
  }

  .loginButton {
    width: 30vw;
    height: 5vh;
    margin-top: 5vh;
    font-size: 1.2em;
  }

  .smallTitle {
    font-size: 1.1rem;
    margin-top: 5vh;
  }

  .errorMessage {
    font-size: 1.2em;
  }

}

@media screen and (max-width: 767px) and (orientation: landscape){
  .loginButton{
    height: 11vh;
    margin-top: 7vh;
  }
}