.searchBox {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
}

.searchBtn {
  position: absolute;
  right: 0.5vw;
  border: none;
  background: none;
  color: #ff6b14;
  cursor: pointer;
}

.allTheSearchBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Patrick Hand', cursive;
  text-align: left;
}

.inputBox {
  width: 95%;
}

input {
  font-family: 'Patrick Hand', cursive;
}

@media screen and (max-width: 380px) {
  .searchLabel {
    font-size: 0.9rem;
  }

  .searchBox {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
  }

  .inputBox {
    width: 94%;
  }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  .searchBox {
    width: 80%;
  }

  .inputBox{
    width: 92%;
  }

  .searchLabel {
    font-size: 0.9rem;
  }
}