.register_container{
    height:fit-content;
    width: 45vw;
    text-align: center;
    border: 5px solid #ff6b14;
    border-radius: 20px;
    background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
    padding: 2vh;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6);
    margin: auto;
}

.back_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1vw;
    padding-top: 1vh;
}

.backBtn {
    align-items: center;
    font-family: 'Patrick Hand', cursive;
    font-weight: bold;
    font-size: 1.2rem;
    width: auto;
    height: 5vh;
    background: radial-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6));
    box-shadow: 0 0 7px rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    border: none;
    backdrop-filter: blur(10p);
    cursor: pointer;
    color: #ff6b14;
    z-index: 10;
}

.backBtn:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}

.registerBtn {
    background: radial-gradient(rgba(243, 242, 242, 0.3));
    box-shadow: inset 0px 0px 10px #504b4b;
    height: 8vh;
    width: 10vw;
    border-radius: 10px;
    font-weight: bolder;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 10vh;
}

.registerBtn:hover {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 10px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}
