.app {
  width: 75vw;
  height: 80vh;
  align-items: center;
  justify-content: center;
  background: rdial-gradient(rgba(255, 255, 255, 0.6));
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  backdrop-filter: blur(8p);
  color: #fff;
}

@media screen and (min-aspect-ratio: 16/9) {
  .app {
    width: 90vw;
    height: 90vh;
  }
}