.song {
  width: 100%;
  height: 30px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content:space-between;
  font-size: 80%;
}

.removeSongBtn, .addSongBtn {
  font-size: 0.8rem;
  border: none;
  background: none;
  color: #ff6b14;
  cursor: pointer;
}

.songName {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 380px) {
  .song {
    height: 4vh;
  }

  .songName {
    width: 38vw;
  }

}

@media screen and (min-aspect-ratio: 16/9) {
  .song {
    height: 9vh;
    font-size: 70%;
  }

}
