html {
  min-height: 100%;
}

body {
  background-image: url(./assets/playlist-background1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Patrick Hand', cursive;
}

@media screen and (max-width: 380px) {
  
  html{
    min-height: 100%;
  }

  body {
    height: 89vh;
  }
}
